<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<title>Raylife discord bot</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand mx-auto" href="/">Raylife Bot</a>
		</nav>
	</header>
	<main class="mt-4">
		<div class="container">
			<h1>Welcome to Raylife Discord Bot</h1>
			<p>A Discord bot made by DeadlyRayyan and Janirudev, add this bot to your server:
			</p>
			<a href="https://discord.com/channels/@me/756356225813315625/812208091936456714" class="btn btn-primary">Add Now</a>
			<hr>
			<pre>
        https://discord.com/channels/@me/756356225813315625/812208091936456714
      </pre>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Dad Jokes</h4>
							<h6 class="card-subtitle mb-2 text-muted">$joke</h6>
							<p class="card-text">Returns a unique data joke</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Dog Pics</h4>
							<h6 class="card-subtitle mb-2 text-muted">$dog</h6>
							<p class="card-text">Returns a picture of a dog</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Cat Pics</h4>
							<h6 class="card-subtitle mb-2 text-muted">$cat</h6>
							<p class="card-text">Returns a picture of a cat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Many More...</h4>
							<h6 class="card-subtitle mb-2 text-muted">$yomama, $roast, $space, $swiftquote</h6>
							<p class="card-text">Returns...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>